.btn {
    &:link {
        text-decoration: none;
        padding: 1.5rem 4rem;
        text-transform: uppercase;
        border-radius: 10rem;
        display: inline-block;
        transition: all 0.2s;
        position: relative;
        animation: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: 0.75s;
        // animation-fill-mode: backwards;
    }
    &--white {
        background-color: $light-color;
    }
    &:hover {
        transform: translateY(-0.3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: translateY(-0.1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.4s;
    }
    &--white::after {
        background: $light-color;
    }
    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}